<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="styles.css" />
  </head>
  <body>
    <header class="header">
      <div class="logo">My Website</div>
      <nav>
        <ul class="navigation">
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
        </ul>
      </nav>
    </header>

    <div>
      <h1>About</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Pellentesque massa
        placerat duis ultricies lacus sed turpis tincidunt. Ipsum suspendisse
        ultrices gravida dictum fusce ut. Gravida rutrum quisque non tellus orci
        ac auctor augue. Ac turpis egestas integer eget aliquet nibh praesent
        tristique. Pretium quam vulputate dignissim suspendisse in est ante.
        Quam viverra orci sagittis eu volutpat odio. Faucibus turpis in eu mi
        bibendum neque egestas. Augue ut lectus arcu bibendum at varius vel.
        Purus non enim praesent elementum facilisis leo. Ac odio tempor orci
        dapibus ultrices in iaculis nunc sed. Risus pretium quam vulputate
        dignissim. Aliquet risus feugiat in ante metus. Quisque id diam vel quam
        elementum. Fermentum posuere urna nec tincidunt praesent semper feugiat
        nibh sed. Integer enim neque volutpat ac. Euismod elementum nisi quis
        eleifend quam adipiscing. Eget nulla facilisi etiam dignissim diam quis
        enim. Consequat nisl vel pretium lectus quam id leo. In ante metus
        dictum at. Luctus venenatis lectus magna fringilla urna porttitor
        rhoncus. Rhoncus est pellentesque elit ullamcorper. Eget sit amet tellus
        cras adipiscing enim eu.
      </p>
    </div>
  </body>
</html>
