<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="styles.css" />
  </head>
  <body>
    <div class="container">
      <h1>Welcome to My Blog</h1>
      <div class="image-container">
        <img src="https://via.placeholder.com/600" alt="Blog Image" />
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam viverra
        turpis ac odio scelerisque, ac finibus elit tristique. Sed quis
        fermentum quam. Aliquam erat volutpat.
      </p>
      <p>
        Praesent euismod, felis non consequat ultrices, justo libero pretium
        tellus, a semper mauris nunc id lectus. Nam lobortis justo a elementum
        tempor.
      </p>
      <a href="#" class="button">Read More</a>
    </div>
  </body>
</html>
